<h1>Edit User</h1>

<%# Show a simple status indicator %>
<p>
  <strong>Status:</strong>
  <%= @user.deleted_at.present? ? "Disabled" : "Active" %>
</p>

<%# Toggle button: sends PATCH instead of GET (always works without JS) %>
<% if @user.deleted_at.present? %>
  <%= button_to "Enable User",
                toggle_active_super_user_path(@user),
                method: :patch,
                data: { confirm: "Are you sure you want to re-enable this user?" } %>
<% else %>
  <%= button_to "Disable User",
                toggle_active_super_user_path(@user),
                method: :patch,
                data: { confirm: "Are you sure you want to disable this user?" } %>
<% end %>

<hr>

<%= form_with model: [:super, @user], local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :role %><br>
    <%= form.select :role, User.roles.keys.map { |r| [r.humanize, r] } %>
  </p>

  <p>
    <%= form.label :company_id, "Company" %><br>
    <%= form.collection_select :company_id, Company.all, :id, :name, include_blank: true %>
  </p>

  <p>
    <%= form.submit "Save Changes" %>
  </p>
<% end %>

<hr>

<%= link_to "Back to Users", super_users_path %>
